html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: cursive;
  width: 1280px;
  margin: 0 auto;
}
li {
  list-style: none;
}

input {
  width: 50%;
  padding: 10px;
  font-size: 14px;

  border-radius: 5px;
  outline-color: #3c4245;
}
button {
  padding: 5px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 14px;
  color: #180c0c;
  background-color: #ece7e7;
  outline-color: #3c4245;
}

.search-form {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 32px;
  font-style: italic;
  border-radius: 10px;
  outline-color: #3c4245;
}
.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  object-fit: cover;
  border-color: #f6f6f6;
  padding: 2px;
  border: 1px solid #d4d7dd;
  margin: 1px;
  margin-bottom: 15px;
}

.photo-card-image {
  height: 180px;
  margin-bottom: 5px;
  width: 300px;
  object-fit: cover;
}
.stats {
  display: flex;
  justify-content: space-between;
}

.stats_item {
  color: #5d5d5d;
  border-color: #f6f6f6;
  padding: 5px;
  border: 1px solid #d4d7dd;
  cursor: pointer;
  border-radius: 3px;
  width: 20px;
  text-align: center;
}
.stats_item:hover,
.stats_item:focus {
  color: #0b0b0d;
  transform: scale(1.2);
}

.material-icons {
  font-size: 14px;
}
